.gallery81-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.gallery81-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery81-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery81-text1 {
  text-align: center;
}
.gallery81-text2 {
  text-align: center;
}
.gallery81-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery81-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery81-slider {
  width: 100%;
  height: 770px;
  display: inline-block;
}
.gallery81-slider-slide1 {
  height: calc(100% - 20px);
  display: flex;
}
.gallery81-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery81-slider-slide2 {
  height: calc(100% - 20px);
  display: flex;
}
.gallery81-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery81-slider-slide3 {
  height: calc(100% - 20px);
  display: flex;
}
.gallery81-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery81-slider-slide4 {
  height: calc(100% - 20px);
  display: flex;
}
.gallery81-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery81-slider-slide5 {
  height: calc(100% - 20px);
  display: flex;
}
.gallery81-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery81-slider-slide6 {
  height: calc(100% - 20px);
  display: flex;
}
.gallery81-image6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery81-slider-pagination {
  display: block;
}
.gallery81-text3 {
  display: inline-block;
}
.gallery81-text4 {
  display: inline-block;
}
@media(max-width: 991px) {
  .gallery81-content {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .gallery81-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery81-slider {
    height: 550px;
  }
}
@media(max-width: 479px) {
  .gallery81-slider {
    height: 440px;
  }
}
